/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; 
}

body {
  line-height: 1; 
}

ol, ul {
  list-style: none; 
}

blockquote, q {
  quotes: none; 
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; 
}

table {
  border-collapse: collapse;
  border-spacing: 0; 
}

textarea,
button,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="password"],
.input-checkbox {
  font-family: Microsoft JhengHei;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-tap-highlight-color: transparent; 
}

/* ::-webkit-input-placeholder {
  color: #86364b; 
} */

/* :-moz-placeholder {
  color: #86364b; 
} */

/* ::-moz-placeholder {
  color: #86364b; 
} */

/* :-ms-input-placeholder {
  color: #86364b; 
} */

/* @-webkit-keyframes simple {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } 
} */

/* @keyframes simple {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } 
} */

/* @-webkit-keyframes logo {
  0% {
    opacity: 0; }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
} */

/* @keyframes logo {
  0% {
    opacity: 0; }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); }
} */

/* @-webkit-keyframes balls {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  50% {
    opacity: 0;
    -webkit-transform: scale(0, 0) rotate(360deg);
    transform: scale(0, 0) rotate(360deg); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg); } 
} */

/* @keyframes balls {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  50% {
    opacity: 0;
    -webkit-transform: scale(0, 0) rotate(360deg);
    transform: scale(0, 0) rotate(360deg); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg); }
} */

/* @-webkit-keyframes balls_flash {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes balls_flash {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } 
} */

/* @-webkit-keyframes coins {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2, 0.2) translateY(-50%);
    transform: scale(0.2, 0.2) translateY(-50%); }
  55% {
    -webkit-transform: scale(1, 1) translateY(5%);
    transform: scale(1, 1) translateY(5%); }
  70% {
    -webkit-transform: scale(1, 1) translateY(0%);
    transform: scale(1, 1) translateY(0%); }
  85% {
    -webkit-transform: scale(1, 1) translateY(5%);
    transform: scale(1, 1) translateY(5%); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1) translateY(0%);
    transform: scale(1, 1) translateY(0%); } 
} */

@keyframes coins {
  0% {
    opacity: 0;
    transform: translateY(-50%) scale(0.5);
  }
}

@keyframes coins2 {
  0% {
    opacity: 0;
    transform: translateY(50%) scale(0.3);
  }
  40% {
    opacity: 0;
    transform: translateY(50%) scale(0.3);
  }
  65% {
    transform: scale(1.2);
  }
  85% {
    transform: scale(1);
  }
}

/* @-webkit-keyframes showUp {
  0% {
    opacity: 0; }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    opacity: 1; } 
} */

/* @keyframes showUp {
  0% {
    opacity: 0; }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  100% {
    opacity: 1; } 
} */

html {
  font-family: Microsoft JhengHei;
  background: #2e0005;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 1000px;
  height: 100%;
  overflow-y: hidden;
}

.container {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 1100px;
  height: 980px;
  overflow: hidden;
}
  .container .login {
    /* -webkit-box-sizing: border-box;
    box-sizing: border-box; */
    position: relative;
    width: 1020px;
    margin: 0 auto; 
  }
    .container .login .logo {
      width: 310px;
      height: 160px;
      margin: 4.5% 0 0% 4.5%;
      background: url(../images/logo.png) no-repeat;
      background-size: 100%; 
      position: absolute;
    }
    .container .login .input-area {
      position: absolute;
      top: 345px;
      left: 15px;
    }
      .container .login .input-area .login-input {
        width: 245px;
        vertical-align: middle;
        text-align: right; 
        float: left;
      }
        .container .login .input-area .login-input label {
          position: relative;
          display: inline-block;
          width: 100%;
        }
          .container .login .input-area .login-input label span {
            color: #370b02;
            width: 18%;
            font-size: 20px;
            font-weight: 600;
            margin-left: 0;
            float: left;
            text-align: left;
            line-height: 38px;
            margin: 5px 0 4px 0;
            /* text-shadow: 0 2px 1px #fde48f; */
          }
          .container .login .input-area .login-input label input {
            width: 100%;
            height: 34px;
            left: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            background: transparent;
            outline: none;
            font-size: 18px;
            line-height: 16px;
            padding: 1% 0% 1% 5%;
            border-radius: 6px;
            background-color: #000000;
            background: #000000d9;
            border: solid 1px #fff;
            color: #fff;
            box-shadow: 0px 0px 10px 5px #fbf4ab43;
          }
          .container .login .input-area .login-input label input::-webkit-input-placeholder {
            color: #fff;
          }
          .container .login .input-area .login-input label input:first-of-type {
            margin: 5px 0 6px 0;
          }
          /* .container .login .input-area .login-input label .icon {
            position: absolute;
            top: 50%;
            left: 5%;
            -webkit-transform: translateY(-62%);
            -ms-transform: translateY(-62%);
            transform: translateY(-62%);
            background: url(../images/icons.png) no-repeat;
            background-size: 100%;
            cursor: pointer; 
          } */
          .container .login .input-area .login-input label .icon-account {
            width: 20px;
            height: 20px;
            background-position-y: 0%;
          }
          .container .login .input-area .login-input label .icon-password {
            width: 20px;
            height: 20px;
            background-position-y: 100%;
          }
          .container .login .input-area button {
            width: 137px;
            height: 80px;
            outline: none;
            border: 1px solid #fff;
            border-bottom-width: 0px;
            border-radius: 8px;
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            margin: 4px 0 5px 25px;
            background: #744a00; /* Old browsers */
            background: -moz-linear-gradient(bottom, #d3921d 0%, #744a00 9%, #ffd57a 17%, #d48b19 26%, #391500 41%, #d68f1d 72%, #fff2d5 85%,#e39f37 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(bottom, #d3921d 0%,#744a00 9%,#ffd57a 17%,#d48b19 26%,#391500 41%,#d68f1d 72%,#fff2d5 85%,#e39f37 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to top, #d3921d 0%,#744a00 9%,#ffd57a 17%,#d48b19 26%,#391500 41%,#d68f1d 72%,#fff2d5 85%,#e39f37 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            cursor: pointer;
            float: left; 
          }
          .container .login .input-area button:hover {
            color: #fff;
            background: #dbc89e; /* Old browsers */
            background: -moz-linear-gradient(bottom, #fff2d6 0%, #dbc89e 18%, #5a3f0f 63%,#1b0a00 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(bottom, #fff2d6 0%,#dbc89e 18%,#5a3f0f 63%,#1b0a00 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to top, #fff2d6 0%,#dbc89e 18%,#5a3f0f 63%,#1b0a00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}
          .container .login .input-area.c {
            top: 310px;
          }
          .container .login .btn_area {
            position: absolute;
            font-size: 0;
            top: 260px;
            left: 15px;
            width: 410px;
          }
      /* .container .login .btn_area .btn_icon {
        display: inline-block;
        width: 26px;
        height: 28px;
        vertical-align: middle;
        background: url(../images/btn_icon.png) no-repeat;
      } */
      .container .login .btn_area button {
        float: left;
        width: 195px;
        height: 50px;
        line-height: 50px;
        padding: 0px;
        outline: none;
        border-radius: 6px;
        border: solid 1px #ffffff;
        border-bottom-width: 0px;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        box-shadow: 0px 2px 3px 2px #000000a8;
        cursor: pointer;
        background: #744a00; /* Old browsers */
        background: -moz-linear-gradient(bottom, #d3921d 0%, #744a00 9%, #ffd57a 17%, #d48b19 26%, #391500 41%, #d68f1d 72%, #fff2d5 85%,#e39f37 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(bottom, #d3921d 0%,#744a00 9%,#ffd57a 17%,#d48b19 26%,#391500 41%,#d68f1d 72%,#fff2d5 85%,#e39f37 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to top, #d3921d 0%,#744a00 9%,#ffd57a 17%,#d48b19 26%,#391500 41%,#d68f1d 72%,#fff2d5 85%,#e39f37 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
        .container .login .btn_area button:hover {
          color: #fff;
          background: #dbc89e; /* Old browsers */
          background: -moz-linear-gradient(bottom, #fff2d6 0%, #dbc89e 18%, #5a3f0f 63%,#1b0a00 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(bottom, #fff2d6 0%,#dbc89e 18%,#5a3f0f 63%,#1b0a00 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to top, #fff2d6 0%,#dbc89e 18%,#5a3f0f 63%,#1b0a00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
        .container .login .newoldPage button.active {
          color: #fff;
          background: #dbc89e; /* Old browsers */
          background: -moz-linear-gradient(bottom, #fff2d6 0%, #dbc89e 18%, #5a3f0f 63%,#1b0a00 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(bottom, #fff2d6 0%,#dbc89e 18%,#5a3f0f 63%,#1b0a00 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to top, #fff2d6 0%,#dbc89e 18%,#5a3f0f 63%,#1b0a00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
        .container .login .btn_area button:last-of-type {
          margin-left: 4%;
        }
    .container .login .subtitle {
      position: absolute;
      width: 400px;
      height: 91px;
      background: url(../images/subtitle.png) no-repeat;
      background-size: cover;
      top: 480px;
      left: 550px;
    }
    .container .login .newoldPage button::after {
      content: "";
      width: 0px;
      height: 0px;
      display: inline-block;
      position: absolute;
      left: -7px;
      top: -6px;
      z-index: -99;
      border-radius: 2rem;
      background: #f6cb48; /* Old browsers */
      background: -moz-linear-gradient(top, #f6cb48 0%, #f5f29b 44%, #fefdf2 55%, #f4ee61 74%, #cc8233 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #f6cb48 0%,#f5f29b 44%,#fefdf2 55%,#f4ee61 74%,#cc8233 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #f6cb48 0%,#f5f29b 44%,#fefdf2 55%,#f4ee61 74%,#cc8233 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6cb48', endColorstr='#cc8233',GradientType=0 ); /* IE6-9 */
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    }
    .container .login .newoldPage button::before {
      content: "";
      width: 0px;
      height: 0px;
      display: inline-block;
      position: absolute;
      left: -3px;
      top: -2px;
      z-index: -98;
      border-radius: 2rem;
      background: #f6cb48; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #f6cb48 0%, #f5f29b 44%, #fefdf2 55%, #f4ee61 74%, #cc8233 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, #f6cb48 0%,#f5f29b 44%,#fefdf2 55%,#f4ee61 74%,#cc8233 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(-45deg, #f6cb48 0%,#f5f29b 44%,#fefdf2 55%,#f4ee61 74%,#cc8233 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6cb48', endColorstr='#cc8233',GradientType=0 ); /* IE6-9 */
    }
  .container .coins {
    width: 730px;
    height: 530px;
    position: absolute;
    top: 145px;
    right: -115px;
    background: url(../images/leftImg.png) no-repeat;
    background-size: 100%;
    animation-name: coins;
    animation-duration: 1s;
    z-index: 2;
  }
  .container .coins2 {
    width: 680px;
    height: 530px;
    position: absolute;
    top: 01px;
    right: -65px;
    background: url(../images/leftImg2.png) no-repeat;
    background-size: 100%;
    animation-name: coins2;
    animation-duration: 2s;
  }
  .container .BG {
    position: absolute;
    top: 0;
    background: url(../images/background.jpg) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -999;
  }

.clear {
  clear: both; }