/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; 
}

body {
  line-height: 1; 
}

ol, ul {
  list-style: none; 
}

blockquote, q {
  quotes: none; 
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; 
}

table {
  border-collapse: collapse;
  border-spacing: 0; 
}

button,input {
  outline: none;
}

textarea,
button,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="password"],
.input-checkbox {
  font-family: Microsoft JhengHei;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-tap-highlight-color: transparent; 
}

/*主體*/

html {
  font-family: Microsoft JhengHei;
  width: 100%;
  min-width: 1100px;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: hidden;
  background: #210d04;
}
.container {
  position: relative;
  width: 100%;
  min-width: 1100px;
  height: 980px;
  overflow: hidden;
}
.container .login {
  position: relative;
  width: 1020px;
  margin: 0 auto; 
}

/*logo*/

.container .login .logo {
  width: 708px;
  height: 145px;
  right: -140px;
  top: 115px;
  background: url(../images/logo.png) no-repeat;
  background-size: 100%; 
  position: absolute;
}

/*input*/

.container .login .input-area {
  position: absolute;
  top: 370px;
  right: 12px;
  z-index: 3;
}
.container .login .input-area .login-input {
  width: 245px;
  vertical-align: middle;
  text-align: right; 
  float: left;
}
.container .login .input-area .login-input label input {
  width: 96%;
  height: 30px;
  font-size: 18px;
  padding-left: 3%;
  background: #000;
  border: solid 1px #fff;
  color: #fff;
}
.container .login .input-area .login-input label input::-webkit-input-placeholder {
  color: #fff;
}
.container .login .input-area .login-input label input:first-of-type {
  margin: 3px 0 12px 0;
}
.container .login .input-area button {
  width: 139px;
  height: 80px;
  border: 1px solid #fff;
  border-bottom-width: 0px;
  border-radius: 6px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0 5px 24px;
  box-shadow: 0px 4px 7px 0px #000000;
  background: #5a260f; /* Old browsers */
  background: -moz-linear-gradient(bottom, #d9b09a 0%, #5a260f 16%, #dbb89e 26%, #dbb19e 39%, #9a6b52 50%, #1b0600 62%, #9a6852 76%,#ffffff 91%,#9a6852 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, #d9b09a 0%,#5a260f 16%,#dbb89e 26%,#dbb19e 39%,#9a6b52 50%,#1b0600 62%,#9a6852 76%,#ffffff 91%,#9a6852 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, #d9b09a 0%,#5a260f 16%,#dbb89e 26%,#dbb19e 39%,#9a6b52 50%,#1b0600 62%,#9a6852 76%,#ffffff 91%,#9a6852 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  cursor: pointer;
  float: left;
}
.container .login .input-area button:hover {
  background: #9a6852; /* Old browsers */
  background: -moz-linear-gradient(bottom, #ffffff 0%, #9a6852 41%, #2c0900 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, #ffffff 0%,#9a6852 41%,#2c0900 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, #ffffff 0%,#9a6852 41%,#2c0900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.container .login .input-area.c {
  top: 375px;
}

/*按鈕*/

.container .login .btn_area {
  position: absolute;
  width: 420px;
  top: 286px;
  right: -2px;
  z-index: 3;
}
.container .login .btn_area button {
  width: 193px;
  height: 50px;
  line-height: 50px;
  padding: 0px;
  border-radius: 30px;
  border: solid 1px #ffffff;
  border-bottom-width: 0px;
  color: #fff;
  font-weight: bold;
  font-size: 21px;
  box-shadow: 0px 2px 3px 2px #000000a8;
  cursor: pointer;
  background: #5a260f; /* Old browsers */
  background: -moz-linear-gradient(bottom, #d9b09a 0%, #5a260f 16%, #dbb89e 26%, #dbb19e 39%, #9a6b52 50%, #1b0600 62%,#9a6852 76%,#ffffff 91%,#9a6852 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, #d9b09a 0%,#5a260f 16%,#dbb89e 26%,#dbb19e 39%,#9a6b52 50%,#1b0600 62%,#9a6852 76%,#ffffff 91%,#9a6852 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, #d9b09a 0%,#5a260f 16%,#dbb89e 26%,#dbb19e 39%,#9a6b52 50%,#1b0600 62%,#9a6852 76%,#ffffff 91%,#9a6852 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.container .login .btn_area button:hover {
  background: #cdcdcd; /* Old browsers */
  background: -moz-linear-gradient(bottom, #ffffff 0%, #cdcdcd 22%, #4e4e4e 67%,#272727 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, #ffffff 0%,#cdcdcd 22%,#4e4e4e 67%,#272727 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, #ffffff 0%,#cdcdcd 22%,#4e4e4e 67%,#272727 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.container .login .newoldPage button.active {
  background: #cdcdcd; /* Old browsers */
  background: -moz-linear-gradient(bottom, #ffffff 0%, #cdcdcd 22%, #4e4e4e 67%,#272727 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, #ffffff 0%,#cdcdcd 22%,#4e4e4e 67%,#272727 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, #ffffff 0%,#cdcdcd 22%,#4e4e4e 67%,#272727 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.container .login .btn_area button:last-of-type {
  margin-left: 3.5%;
}

/*圖片*/

.container .coins {
  width: 504px;
  height: 504px;
  position: absolute;
  top: 50px;
  left: 44px;
  background: url(../images/leftImg.png) no-repeat;
  background-size: 100%;
  z-index: 1;
  animation: coins1 0.3s linear 0s,coins1-2 0.6s ease-out 0.3s;
}
.container .coins2 {
  width: 1175px;
  height: 930px;
  position: absolute;
  top: 0px;
  left: -285px;
  background: url(../images/leftImg2.png) no-repeat;
  background-size: 100%;
  z-index: 2;
  animation: coins2 0.5s ease-out 0s;
}
.container .coins2-1 {
  width: 720px;
  height: 323px;
  position: absolute;
  top: 553px;
  left: -285px;
  background: url(../images/leftImg3.png) no-repeat;
  background-size: 100%;
  z-index: 2;
  animation: coins2 0.5s ease-out 0s;
}

/*背景*/

.container .BG {
  position: absolute;
  top: 0;
  background: url(../images/background.jpg) no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -999;
}

/*動畫*/

@keyframes coins1 {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes coins1-2 {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes coins2 {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}